# {{ ansible_managed }}

server {
  listen 0.0.0.0:{{ adf_port }};
  root {{ adf_install_path }}/{{ adf_project_name }};
  index index.html;
  location / {
    autoindex on;
    try_files $uri $uri/ /index.html;
  }
}

